<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Country</title>
</head>
<body>
<div align="center">
  <h1>Edit country form</h1>
  <br/>
  <form action="#" th:action="@{/saveCountry}" th:object="${country}" method="get">
    <table>
      <tr>
        <td> Name:</td>
        <td><input type="hidden" th:field="*{id}"/></td>
        <td><input type="text" th:field="*{name}"/></td>
        <td>
          <button type="submit">Save</button>
        </td>
      </tr>
    </table>
    <table border="1">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="car : ${allCars}">
        <td>
          <input type="checkbox" th:field="*{cars}" th:value="${car.id}"/>
        </td>
        <td>
          <label th:for="${#ids.next('cars')}" th:text="${car.name}"/>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>

</form>
</body>
</html>